.app{
  transition: background 0.3s,color 0.3s;
}

.app.light{
  background-color: #ffffff;
  color: #000000;
}
.app.dark{
  background-color: #333333;
  color: #ffffff;
}
.header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content{
  padding: 1rem;
}
.card{
  background: inherit;
  color: inherit;
  border: 1px solid currentColor;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.toggle-icon{
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}